# Dependencies
node_modules/
package-lock.json

# Database (contient les données sensibles)
database.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env files
.env
.env.local
