services:
  - type: web
    name: l1triangle-shop
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node start.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
